<p>SUBODH BARSAGADE customer-list works..!</p>
<form  class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Search"
    #serchInput="ngModel" [(ngModel)]="searchText" style="width: 80%">
    <button class="btn btn-outline-primary" (click)="searchText=''"> Search</button>
<br>
<table class="table table-sm">
    <thead>
        <th>Full Nmame</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Location</th>
        <th></th>
    </thead>
    <ng-container  *ngFor="let customer of customerArray"  >
<tr class="table-dark" *ngIf="filterCondition(customer)" >
<td>{{customer.FullName}}</td>
<td>{{customer.Email}}</td>
<td>{{customer.Mobile}}</td>
<td>{{customer.Location}}</td>
<td>
<button class="btn btn-outline-primary" (click)="customerService.populateForm(customer)">Edit</button>
<button class="btn btn-outline-danger" (click)="onDelete(customer.$key)">Delete</button>
</td>
</tr>
    </ng-container>
</table>
</form>
<div class="alert alert-danger" *ngIf="showDeleteMassage" >
    Delete Successfully
</div>